@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background: linear-gradient(270deg, #ce1126, #007a3d, #000);
  background-size: 600% 600%;
  animation: bgAnimation 10s ease infinite;
}
